@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.auo {
  width: 47%;
}
.qwe {
  background: linear-gradient(180deg, rgba(78, 116, 123, 0.00) -21.43%, rgba(24, 129, 149, 0.56) 177.78%);
  box-shadow: 0px -2px 6px 0px rgba(198, 198, 198, 0.25);
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* on processed queue */
.box-queue-current {
  border-radius: 15px;
  background: transparent;
  border: 1px solid yellow;
  border-style: dashed;
  /* background: rgba(252, 233, 62, 0.16); */
  /* box-shadow: 1px 2px 5px 0px rgba(255, 255, 255, 0.22); */
}

.ma-green {
  background-color: #305e68;
}
.help-tutorial li {
  margin-bottom: 25px;
}
.w-inherit {
  width: inherit;
}